/* App.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #333;
  color: white;
  padding: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin: 15px 0;
}

.sidebar a {
  color: rgb(22, 1, 1);
  text-decoration: none;
}

.main-content {
  flex: 1;
  padding: 20px;
}

header {
  background-color: #f4f4f4;
  padding: 10px;
  text-align: center;
}
